* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    border-radius: 0.5em;
    box-shadow:
        6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow:
        4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
}
